.text-button {
  background-color: inherit;
  border: none;

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  color: #ea0029;

  cursor: pointer;

  &:hover {
    color: #f53a31;
  }

  &:focus {
    outline: none;
  }
}
