@font-face {
  font-family: 'LabGrotesque';
  src: url('../fonts/LabGrotesque/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LabGrotesque';
  src: url('../fonts/LabGrotesque/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
